
@{
    ViewBag.Title = "SLATimeline";
    Layout = "~/Views/Shared/_Layout_Index1.cshtml";
}


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">SLA</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Index</a></li>
                </ol>
            </div>
            <h4 class="page-title">SERVICE LEVEL AGREEMENT  </h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" onclick="location.href='/SLA/AddSLATimeline'"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New SLA Timeline</button>
                <button type="button" id="BtnDelete" disabled class="btn btn-danger waves-effect waves-light float-left"> <i class="mdi mdi-delete"></i>  Delete</button>
                <br></br><br></br>
                <table id="tblAutoDiscovery" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><input id="CheckAll" type="checkbox"></th>
                            <th>Priority</th>
                            <th>Display Name</th>
                            <th>Response SLA</th>
                            <th>Resolution SLA</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>

                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>
                        </tr>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Severity - 1</td>
                            <td>Severity Level 1</td>
                            <td>00:15</td>
                            <td>06:00</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/View/Common/Common.js"></script>


