
@{
    ViewBag.Title = "AddPeripherals";
    Layout = "~/Views/Shared/_Layout_Add.cshtml";
}

<!-- Sweet Alert -->
<link href="../plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
<link href="../plugins/animate/animate.css" rel="stylesheet" type="text/css">

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Master</a></li>
                    <li class="breadcrumb-item active">Department</li> 
                </ol>
            </div>
            <h4 class="page-title">ADD Peripherals</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Business Unit* </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Category * </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Asset Tag * </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                             </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Manufacturer </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Model </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Asset Name*</label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Vendor  </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select Vendor</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Location</label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select Location</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Store Location </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Department </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Section  </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Building  </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Floor  </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Room No  </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Serial Number  </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Invoice No  </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Support Type   </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Removal Date </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Purchase Price   </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Invoice Date </label>
                            <div class="col-lg-8">
                                <input class="form-control" id="ex1" type="text">
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Condition   </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-lg-right">
                        <button class="btn btn-gradient-primary" id="btnSubmit" type="submit">Submit</button>
                        <button class="btn btn-gradient-danger" type="button">Cancel</button>
                    </div>
                </div>
            </div><!--end card-body-->
            </div>
        <!--end card--> <!--end card-body--> <!--end card-->
    </div><!--end col-->
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<!-- Sweet-Alert  -->
<script src="../plugins/sweet-alert2/sweetalert2.min.js"></script>
<script src="../assets/pages/jquery.sweet-alert.init.js"></script>
<script src="~/Scripts/View/Common/Common.js"></script>

