

@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/_Layout_Add.cshtml";
}

<!-- Sweet Alert -->
<link href="../plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
<link href="../plugins/animate/animate.css" rel="stylesheet" type="text/css">

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">MASTER</a></li>
                </ol>
            </div>
            <h4 class="page-title">
                Add Condition
            </h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Condition* </label>
                            <div class="col-lg-8">
                                <select class="select2 form-control mb-3 custom-select" id="ddlClient" style="width: 100%;">
                                    <option value="0"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" id="btnSave" type="submit">Create</button>

            </div><!--end card-body-->
        </div>
        <!--end card--> <!--end card-body--> <!--end card-->
    </div><!--end col-->
</div>

