
@{
    ViewBag.Title = "License";
    Layout = "~/Views/Shared/_Layout_Add.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Masters</a></li>
                    <li class="breadcrumb-item active">Status</li>
                </ol>
            </div>
            <h4 class="page-title">STATUS</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="tblLocation" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    
                    <tbody>
                        <tr>
                            <th class="text-nowrap" scope="row">Software Product Code </th>
                            <td>ZSD-OPV2</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">License Key </th>
                            <td>5K78-GU64-78HR-38SL</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">License Type</th>
                            <td>Perpetual</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">Start Date </th>
                            <td>01/02/2020</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">End Date</th>
                            <td>Lifetime</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">Base Platform </th>
                            <td id="txtLocation">1 Nos. </td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">Administrator License </th>
                            <td>1 Nos. </td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">Asset Administrator License </th>
                            <td>1 Nos. </td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">Technician License</th>
                            <td> 7 Nos.</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">Asset License (Full Suite)</th>
                            <td> 5,000 Nos. </td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">Asset License (Lifecycle Mgmt.)  </th>
                            <td>7,500 Nos.  </td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">Software Maintenance </th>
                            <td>Applicable from 2nd Year Onward</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- Plugins js -->
<script src="../plugins/moment/moment.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<script src="../plugins/select2/select2.min.js"></script>
<script src="../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="../plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
<script src="../plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="../plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

<script src="../assets/pages/jquery.forms-advanced.js"></script>

