
@{
    ViewBag.Title = "AutoDiscovery";
    Layout = "~/Views/Shared/_Layout_Index1.cshtml";
}


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">DashBoard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Fixed Asset</a></li>
                     </ol>
            </div>
            <h4 class="page-title">AUTO DISCOVERY</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" id="BtnDelete" disabled class="btn btn-danger waves-effect waves-light float-left"> <i class="mdi mdi-delete"></i>  Delete</button>
                <br></br><br></br>
                <table id="tblAutoDiscovery" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><input id="CheckAll" type="checkbox"></th>
                            <th>ID</th>
                            <th>Serial No</th>
                            <th>Host Name</th>
                            <th>Operating System</th>
                            <th>IP Address</th>
                            <th>Mac Address</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>abc</td>
                            <td>1234</td>
                            <td>Vishal</td>
                            <td>Microsoft Windows 10 Pro, 10.0.18362, 64-bit</td>
                            <td>1233.34.434</td>
                            <td>A44E312v3</td>
                            <td>2020-08-27T00:51:41.62</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>abc</td>
                            <td>1234</td>
                            <td>Vishal</td>
                            <td>Microsoft Windows 10 Pro, 10.0.18362, 64-bit</td>
                            <td>1233.34.434</td>
                            <td>A44E312v3</td>
                            <td>2020-08-27T00:51:41.62</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>abc</td>
                            <td>1234</td>
                            <td>Vishal</td>
                            <td>Microsoft Windows 10 Pro, 10.0.18362, 64-bit</td>
                            <td>1233.34.434</td>
                            <td>A44E312v3</td>
                            <td>2020-08-27T00:51:41.62</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>abc</td>
                            <td>1234</td>
                            <td>Vishal</td>
                            <td>Microsoft Windows 10 Pro, 10.0.18362, 64-bit</td>
                            <td>1233.34.434</td>
                            <td>A44E312v3</td>
                            <td>2020-08-27T00:51:41.62</td>
                        </tr>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>abc</td>
                            <td>1234</td>
                            <td>Vishal</td>
                            <td>Microsoft Windows 10 Pro, 10.0.18362, 64-bit</td>
                            <td>1233.34.434</td>
                            <td>A44E312v3</td>
                            <td>2020-08-27T00:51:41.62</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/View/Common/Common.js"></script> 


