
@{
    ViewBag.Title = "GetPass";
    Layout = "~/Views/Shared/_Layout_Index1.cshtml";
}

<!-- Sweet Alert -->
<link href="../plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
<link href="../plugins/animate/animate.css" rel="stylesheet" type="text/css">

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">GATE PASS</a></li>
                </ol>
            </div>
            <h4 class="page-title">GATE PASS</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" onclick="location.href='/Inventory/AddGetPass'"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New GetPass</button>
                <table id="tblAutoDiscovery" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><input id="CheckAll" type="checkbox"></th>
                            <th>ID</th>
                            <th>Movement Type</th>
                            <th>Gate Pass type</th>
                            <th>Expected Date Of Return</th>
                            <th>Business Unit</th>
                            <th>Status</th>
                            <th>Get Pass Validity</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td>GTP0004</td>
                            <td>Building Movement</td>
                            <td>Returnable</td>
                            <td>06/11/2020</td>
                            <td>ABC Telecom</td>
                            <td>Allocated</td>
                            <td>20/11/2022</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>PTP0004</td>
                            <td>Building Movement</td>
                            <td>Returnable</td>
                            <td>06/11/2020</td>
                            <td>ABC Telecom</td>
                            <td>Allocated</td>
                            <td>20/11/2022</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>GTP0004</td>
                            <td>Building Movement</td>
                            <td>Returnable</td>
                            <td>06/11/2020</td>
                            <td>ABC Telecom</td>
                            <td>Allocated</td>
                            <td>20/11/2022</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>GTP0004</td>
                            <td>Building Movement</td>
                            <td>Returnable</td>
                            <td>06/11/2020</td>
                            <td>ABC Telecom</td>
                            <td>Allocated</td>
                            <td>20/11/2022</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>GTP0004</td>
                            <td>Building Movement</td>
                            <td>Returnable</td>
                            <td>06/11/2020</td>
                            <td>ABC Telecom</td>
                            <td>Allocated</td>
                            <td>20/11/2022</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>GTP0004</td>
                            <td>Building Movement</td>
                            <td>Returnable</td>
                            <td>06/11/2020</td>
                            <td>ABC Telecom</td>
                            <td>Allocated</td>
                            <td>20/11/2022</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>GTP0004</td>
                            <td>Building Movement</td>
                            <td>Returnable</td>
                            <td>06/11/2020</td>
                            <td>ABC Telecom</td>
                            <td>Allocated</td>
                            <td>20/11/2022</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>GTP0004</td>
                            <td>Building Movement</td>
                            <td>Returnable</td>
                            <td>06/11/2020</td>
                            <td>ABC Telecom</td>
                            <td>Allocated</td>
                            <td>20/11/2022</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->




