
@{
    ViewBag.Title = "ITAssetsSummary";
    Layout = "~/Views/Shared/_Layout_Index1.cshtml";
}
<!-- Sweet Alert -->
<link href="../plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
<link href="../plugins/animate/animate.css" rel="stylesheet" type="text/css">


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Asset</a></li>
                </ol>
            </div>
            <h4 class="page-title">
                IT Assets Summary
            </h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Asset Category</th>
                            <th>Allocated</th>
                            <th>In-Store</th>
                            <th>In-Repairr</th>
                            <th>Inactive</th>
                            <th>Discard</th>
                            <th>Theft</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>null </td>
                            <td>23</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>123</td>
                        </tr>
</table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->