
@{
    ViewBag.Title = "RepairHistory";
    Layout = "~/Views/Shared/_Layout_Index1.cshtml";
}

<!-- Sweet Alert -->
<link href="../plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
<link href="../plugins/animate/animate.css" rel="stylesheet" type="text/css">

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Repair History</a></li>
                </ol>
            </div>
            <h4 class="page-title">Repair History</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" onclick="location.href='/Inventory/AddCredentials'"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Credentials</button>
                <table id="tblAutoDiscovery" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Asset ID</th>
                            <th>Category</th>
                            <th>Asset Tag</th>
                            <th>Sent On</th>
                            <th>Asset Component</th>
                            <th>Vendor Name</th>
                            <th>Fault Description</th>
                            <th>Aggreement Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Hub</td>
                            <td>ASD939-Test Asset</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>HCL</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
