
@{
    ViewBag.Title = "Software";
    Layout = "~/Views/Shared/_Layout_Index1.cshtml";
}

<!-- Sweet Alert -->
<link href="../plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
<link href="../plugins/animate/animate.css" rel="stylesheet" type="text/css">


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Software</a></li>
                </ol>
            </div>
            <h4 class="page-title">SOFTWARE</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" onclick="location.href='/Inventory/AddSoftware'"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Software</button>
                <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th><input id="CheckAll" type="checkbox"></th>
                            <th>S.NO</th>
                            <th>Location Name</th>
                            <th>Store Name</th>
                            <th>Software Category</th>
                            <th>Publisher</th>
                            <th>Software Name</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>delhi</td>
                            <td>Nehru palace</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>delhi</td>
                            <td>Nehru palace</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>delhi</td>
                            <td>Nehru palace</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>up</td>
                            <td>agra</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>up</td>
                            <td>agra</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>up</td>
                            <td>agra</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>up</td>
                            <td>agra</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>up</td>
                            <td>agra</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>up</td>
                            <td>agra</td>
                            <td>browers</td>
                            <td>microsoft</td>
                            <td>goole chrome</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
