
@{
    ViewBag.Title = "CommonCategory";
    Layout = "~/Views/Shared/_Layout_Add.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Reports</a></li>
                </ol>
            </div>
            <h4 class="page-title">
                DOWNLOAD CUSTOM REPORTS
            </h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <a class="col-form-label" style="font-family: " montserrat",="" sans-serif="" !important;font-size:="" 13px="" !important;font-weight:="" bold="" !important;"="" href="#" onclick="GetReport(15)">Test</a>          
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- Plugins js -->
<script src="../plugins/moment/moment.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<script src="../plugins/select2/select2.min.js"></script>
<script src="../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="../plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
<script src="../plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="../plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

<script src="../assets/pages/jquery.forms-advanced.js"></script>

