
@{
    ViewBag.Title = "CommonCategory";
    Layout = "~/Views/Shared/_Layout_Add.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Reports</a></li>
                </ol>
            </div>
            <h4 class="page-title">
                GENERATE CUSTOM REPORT
            </h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary waves-effect waves-light float-left" data-toggle="modal" data-target="#AssetsRequestModalFilter"> <i class="fas fa-check-square" aria-hidden="true"></i>  Assest Request </button>            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- Plugins js -->
<script src="../plugins/moment/moment.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<script src="../plugins/select2/select2.min.js"></script>
<script src="../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="../plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
<script src="../plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="../plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

<script src="../assets/pages/jquery.forms-advanced.js"></script>

